
@media only screen and (min-width: 768px) {
    .link1 {
        display: none;
    }

    .span1-container:hover span {
        display: none;
    }

    .span1-container:hover .link1 {
        display: block;
    }

    .link2 {
        display: none;
    }

    .span2-container:hover span {
        display: none;
    }

    .span2-container:hover .link2 {
        display: block;
    }

    .link3 {
        display: none;
    }

    .span3-container:hover span {
        display: none;
    }

    .span3-container:hover .link3 {
        display: block;
    }
}